<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stanl_2.final_backend.domain.center.query.repository.CenterMapper">
    <!-- type는 수정 필요 (각자 domain에 맞춰서 수정 -->
    <resultMap id="centerInformation" type="stanl_2.final_backend.domain.center.query.dto.CenterSelectIdDTO">
        <id property="id" column="CENT_ID"/>
        <result property="name" column="CENT_NAME"/>
        <result property="address" column="CENT_ADR"/>
        <result property="phone" column="CENT_PHO"/>
        <result property="memberCount" column="CENT_MEM_CNT"/>
        <result property="operatingAt" column="CENT_OPR_AT"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="updatedAt" column="UPDATED_AT"/>
        <result property="deletedAt" column="DELETED_AT"/>
        <result property="active" column="ACTIVE"/>
    </resultMap>
    <select id="findCenterById" resultMap="centerInformation" parameterType="Long">
        SELECT
               A.CENT_ID,
               A.CENT_NAME,
               A.CENT_ADR,
               A.CENT_PHO,
               A.CENT_MEM_CNT,
               A.CENT_OPR_AT,
               A.CREATED_AT,
               A.UPDATED_AT,
               A.DELETED_AT,
               ACTIVE
          FROM CENTER A
         WHERE CENt_ID = #{ id }
    </select>

</mapper>