<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stanl_2.final_backend.domain.schedule.query.repository.ScheduleMapper">

    <resultMap id="scheduleInformation" type="stanl_2.final_backend.domain.center.query.dto.ScheduleDTO">
        <id property="id" column="SCH_ID"/>
        <result property="name" column="SCH_NAME"/>
        <result property="content" column="SCH_CONT"/>
        <result property="reservationTime" column="SCH_RES"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="updatedAt" column="UPDATED_AT"/>
        <result property="deletedAt" column="DELETED_AT"/>
        <result property="active" column="ACTIVE"/>
        <result property="memberId" column="MEM_ID"/>
    </resultMap>
    <select id="findScheduleById" resultMap="scheduleInformation" parameterType="hashMap">
        SELECT
               A.SCH_ID,
               A.SCH_NAME,
               A.SCH_CONT,
               A.SCH_RES,
               A.CREATED_AT,
               A.UPDATED_AT,
               A.DELETED_AT,
               A.ACTIVE,
               A.MEM_ID
          FROM SCHEDULE A
         WHERE
    </select>

</mapper>